.portfolio {
  padding: 60px 20px;
  background-color: #f1f5f9;
}

body.dark-mode .portfolio {
  background-color: #111111;
}

.portfolio__filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
}

.portfolio__filters button{
  width: 80px;
  height: 35px;
  margin: 10px;
  background-color: #1e84d8;
  border-color: #1e84d8;
  border-radius: 10px;
  cursor: pointer;
}

.portfolio__filters button:hover{
  width: 90px;
  height: 40px;
  transform: translateY(-8px);
  transition: transform 0.6s ease, box-shadow 0.3s ease;
}

.portfolio__filters .active {
  background-color: #0ea5e9;
  border-color: #0ea5e9;
}

.featured {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 2rem;
  align-items: center;

  margin-bottom: 5rem;
  padding: 2rem;

  border-radius: 20px;
  background: #111;

  box-shadow: 0 0 25px rgba(0,0,0,0.2);
}

.featured__image img{
  border-radius: 20px;
}

.featured__label {
  font-size: 16px;
  color: #0ea5e9;
  text-transform: uppercase;
  font-weight: bold;
}

.featured__title, 
.featured__description {
  color: whitesmoke;
}
.featured__highlight {
  font-size: 18px;
  color: #0ea5e9;
}

.featured__process {
  margin: 1rem 0;
  padding-left: 1.2rem;
  text-align: left;
  color: whitesmoke;
}

.featured__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  margin: 5px;
}

.featured__tags span {
  background: #1f2937;
  color: #e5e7eb;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 25px;
  cursor:pointer;
}

.featured__tags span:hover {
  background: #374151;
}

.featured__actions a{
  text-decoration: none;
  margin-right: 10px;
  padding: 10px 16px;
}

.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  max-width: 2000px;
  margin: 0 auto;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  background: #111;
  padding: 20px;
  border: 1px solid var(--border);
  color: var(--text);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.card__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: var(--text);
}

.card__hint {
  margin-top: 10px;
  font-size: 16px;
  color: #9ca3af;
  font-style: italic;
  cursor:pointer;
}

.card__imageWrapper {
  position: relative;
  width: 100%;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.card__actions a{
  text-decoration: none;
}

.card:hover .card__actions {
  opacity: 1;
}

.card__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card__imageWrapper:hover .card__overlay {
  opacity: 1;
}

.card__imageWrapper:hover .card__image {
  transform: scale(1.05);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  margin: 5px;
  cursor: pointer;
}

.tags span {
  background: #1f2937;
  color: #e5e7eb;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 6px;
}

.tags span:hover {
  background: #374151;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__content {
  background: #111;
  color: #d1d5db;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  cursor: pointer;
}

.modal__content img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.modal__process {
  margin: 1rem 0;
  padding-left: 1.2rem;
  text-align: left;
}

.modal__process li {
  margin-bottom: 0.5rem;
  color: #d1d5db;
  font-size: 0.95rem;
}

.modal__links {
  margin-bottom: 10px;
}

.modal__links a {
  margin-right: 10px;
  padding: 10px 16px;
  /* font-weight: bold; */
}

.modal__button {
  margin-left: 8px;
  background-color: crimson;
  border-color: crimson;
  border-radius: 8px;
  cursor: pointer;
}

.modal a {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .portfolio__grid {
  grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 646px) {
  .portfolio__grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .card {
    grid-template-columns: 1fr;
  }
}


